<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/produto.css">
    <title>Carrinho</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <img id="logo" src="/img/logo.jpg" alt="logo"/>
            </a>
            <a href="">Feminino</a>
            <a href="">Masculino</a>
            <a href="">Infantil</a>
            <a href="/login">Entrar</a>
            <a href="/carrinho">Carrinho</a>
            <input type="text" class="search-text" placeholder="Buscar">
        </nav>
    </header>
    <main class="cart-page">
        <section class="products-on-cart">
            <h3 class="cart-title">Seu Carrinho</h3>
            <p class="cart-subtitle">Não se decidiu? Continue Comprando</p>
            <article class="product-card">
                <img id="product-img" src="/img/tenis-img4.jpg" alt="">
                <div class="product-info">
                    <h4 class="product-name">Tênis All Star</h4>
                    <p class="product-sq">Tamanho único</p>
                    <p class="product-sq">Quantidade: 1</p>
                    <h4 class="product-price">R$ 300,00</h4>
                </div>
                <button class="btn-remove">Remover</button>
            </article>
            <hr class="line">
            <article class="product-card">
                <img id="product-img" src="/img/tenis-img4.jpg" alt=""> 
                <div class="product-info">
                    <h4 class="product-name">Tênis All Star</h4>
                    <p class="product-sq">Tamanho único</p>
                    <p class="product-sq">Quantidade: 1</p>
                    <h4 class="product-price">R$ 300,00</h4>
                </div>
                <button class="btn-remove">Remover</button>
            </article>
        </section>
        <section class="order-info">
            <h4 class="resumo-pedido">Resumo do pedido</h4>
            <div class="input-container">
                <input type="text" id="input-discount" placeholder="Código de Desconto">
            </div>
            <article class="line-items">
                <div class="div-resume">
                    <p id="resume-names" class="subtotal">Subtotal</p>
                    <p id="resume-names" class="subtotal-price" >R$ 600,00</p>
                </div>
                <div class="div-resume">
                    <p id="resume-names" class="entrega">Entrega</p>
                    <p id="resume-names" class="delivery-price">R$ 20,00</p>
                </div>
                <hr class="line-resume">
                <div class="div-resume">
                    <p id="resume-names" class="total">Total</p>
                    <p id="resume-names" class="total-price" >R$ 620,00</p>
                </div>
            </article>
            <button class="btn-delivery">
                <a href="/endereco">Opções de Entrega</a>
            </button>
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li> <a href="">Saiba mais</a></li>
                        <li> <a href="">Nossos servicos</a></li>
                        <li> <a href="">politica de privacidade</a></li>
                        <li>
                        <li> <a href="">reclame</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li> <a href="">FAQ</a></li>
                        <li> <a href="">transporte</a></li>
                        <li> <a href="">devoluções</a></li>
                        <li>
                        <li> <a href="">Status do pedido</a></li>
                        <li> <a href="">Opções de pagamento</a></li>
                    </ul>

                </div>
                <div class="footer-col">
                    <h4>Loja online</h4>
                    <ul>
                        <li> <a href="">Feminino</a></li>
                        <li> <a href="">Masculino</a></li>
                        <li>
                        <li> <a href="">Infantil</a></li>
                        <li> <a href="">Endereço</a></li>
                    </ul>

                </div>
            </div>
            <div class="footer-col">
                <h4>Registrar</h4>
                <div class="form-sub">
                    <forn>
                        <input type="email" placeholder="Digite o seu e-mail " required>
                        <button>Registrar</button>
                    </forn>
                </div>          
    </footer>
</body>
</html>