<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmação Endereço</title>
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/endereco.css">
</head>

<body>
    <main>
        <section class="conteiner-selecionar">
            <div class="conteiner-endereco">
                <strong class="tituloEndereco">
                    Confirme seu endereço
                </strong>
                <div class="selecionaEndereco">
                    <p>Selecione um endereço</p>
                    <div>Lista de endereco</div>
                    <button class="buttonAcesso">Escolher forma de pagamento</button>
                </div>
            </div>
            <div class="conteiner-cadastro-novo">
                <strong class="tituloEndereco">
                    Ou cadastre um novo endereço
                    <div class="inpu    tDadosEndereco">
                        <form action="">
                        <input class="textoDados" type="text" name="" id="" placeholder="Nome do Destinatário">
                        <input class="textoDados" type="text" name="" id="" placeholder="CEP">
                        <input class="textoDados" type="text" name="" id="" placeholder="Endereço">
                        <input class="textoDados" type="text" name="" id="" placeholder="Número">
                        <input class="textoDados" type="text" name="" id="" placeholder="Apartamento, suíte, etc(opcional)">
                        <input class="textoDados" type="text" name="" id="" placeholder="Nome do Destinatário">
                    </form>
                    </div>
                </strong>
            </div>
        </section>
        <section class="conteiner-carrinho">
            <div class="carrinho">
                <p>Seu Carrinho</p>
            </div>
            <div>
                <input class="textoDados" type="text" name="" id="" placeholder="Cupom de desconto">
            </div>
        </section>
    </main>
</body>


</html>