<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">
    <link href="/css/geral.css" rel="stylesheet">
    <link href="/css/index.css" rel="stylesheet">
    <title>SixShoes</title>
</head>

<body>
    

    <header>
        <nav>
            <a href="/">
                <img id="logo" src="/img/logo.jpg" alt="logo"/>
            </a>
            <a href="">Feminino</a>
            <a href="">Masculino</a>
            <a href="">Infantil</a>
            <a href="/login">Entrar</a>
            <a href="/carrinho">Carrinho</a>
            <input type="text" class="search-text" placeholder="Buscar">
            <a href="#" class="search-box">
                <!-- <img src="/img/loupe.png" alt="Lupa" height="30" width="30"> -->
            </a>
        </nav>
    </header>
    <!-- <header> <h1>DESTAQUES</h1> -->
    </header>
        
    <main> 
        <article>
            <img src="/img/tenis-img3.jpg" alt="Nike Air Force 1 Low" />
            <h2>TÊNIS CONVERSE CHUCK TAYLOR HIGH PRO ROLL UP</h2>
            <span>R$ 300,00</span>
            <a href="/produto">Ver mais</a>
            <button>Add+</button>
        </article>
        <article>
            <img src="/img/tenis-img3.jpg" alt="Nike Air Force 1 Low" />
            <h2>TÊNIS CONVERSE CHUCK TAYLOR HIGH PRO ROLL UP</h2>
            <span>R$ 300,00</span>
            <a href="/produto">Ver mais</a>
            <button>Add+</button>
        </article>        
        <article>
            <img src="/img/tenis-img3.jpg" alt="Nike Air Force 1 Low" />
            <h2>TÊNIS CONVERSE CHUCK TAYLOR HIGH PRO ROLL UP</h2>
            <span>R$ 300,00</span>
            <a href="/produto">Ver mais</a>
            <button>Add+</button>
        </article>        
        <article>
            <img src="/img/tenis-img3.jpg" alt="Nike Air Force 1 Low" />
            <h2>TÊNIS CONVERSE CHUCK TAYLOR HIGH PRO ROLL UP</h2>
            <span>R$ 300,00</span>
            <a href="/produto">Ver mais</a>
            <button>Add+</button>
        </article>
    </main>
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li> <a href="">Saiba mais</a></li>
                        <li> <a href="">Nossos servicos</a></li>
                        <li> <a href="">politica de privacidade</a></li>
                        <li>
                        <li> <a href="">reclame</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li> <a href="">FAQ</a></li>
                        <li> <a href="">transporte</a></li>
                        <li> <a href="">devoluções</a></li>
                        <li>
                        <li> <a href="">Status do pedido</a></li>
                        <li> <a href="">Opções de pagamento</a></li>
                    </ul>

                </div>
                <div class="footer-col">
                    <h4>Loja online</h4>
                    <ul>
                        <li> <a href="">Feminino</a></li>
                        <li> <a href="">Masculino</a></li>
                        <li>
                        <li> <a href="">Infantil</a></li>
                        <li> <a href="">Endereço</a></li>
                    </ul>

                </div>
            </div>
            <div class="footer-col">
                <h4>Registrar</h4>
                <div class="form-sub">
                    <forn>
                        <input type="email" placeholder="Digite o seu e-mail " required>
                        <button>Registrar</button>
                    </forn>
                </div>          
    </footer>
</body>

</html>