<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso a Conta</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <main>
        <div class="acessoPagina">
            <div class="tituloPagina">
                <h1>Acesso a conta</h1>
            </div class="inputLoginSenha">
        </div class="conteiner-main">
        <div class="conteiner-usuario">
            <section class="conteiner-Login">
                <strong class="temConta">Clientes Registrados</strong>
                <span>
                    <p> Se você tiver uma conta, acesse com seu endereço de e-mail e senha.</p>
                </span>
                <div class="inputDados">
                    <input class="textoDados" type="text" name="" id="" placeholder="E-mail ou CPF">
                    <input class="textoDados" type="password" name="" id="" placeholder="Senha">
                </div>
                <div>
                    <button class="buttonAcesso">
                        <p>Entrar</p>
                    </button>
                    <button class="buttonAcesso" a href="#">
                        <p>Esqueci minha senha</p>
                    </button>
                </div>
                <span>
                    <p>Faça Login com sua rede social</p>
                </span>
                <div>
                    <a href="">
                        <img href="#" class="buttonLogin" src="/img/facebook.png" alt="">
                    </a>
                </div>
                <div>
                    <a href="">
                        <img href="#" class="buttonLogin" img src="/img/google.png" alt="">
                    </a>
                </div>

            </section>
            <section class="criarConta">
                <strong class="temConta">Ainda não é cliente?</strong>
                <p>Criar uma nova conta tem muitos benefícios: fechar pedidos mais rapidamente, registrar mais
                    endereços,
                    acompanhar pedidos e muito mais.</p>
                <button class="buttonAcesso">Criar conta</button>
            </section>
        </div>
    </main>

</body>

</html>