<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acesso a Conta</title>
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <header>
        <nav>
            <a href="/">
                <img id="logo" src="/img/logo.jpg" alt="logo"/>
            </a>
            <a href="">Feminino</a>
            <a href="">Masculino</a>
            <a href="">Infantil</a>
            <a href="/login">Entrar</a>
            <a href="/carrinho">Carrinho</a>
            <input type="text" class="search-text" placeholder="Buscar">
        </nav>
    </header>
    <main>
        <div class="acessoPagina">
            <div class="tituloPagina">
                <h1>Acesso a conta</h1>
            </div>
        </div>
        <div class="conteiner-usuario">
            <section class="conteiner-login">
                <strong class="temConta">Clientes Registrados</strong>
                <span class="subtítulo-">
                    <p> Se você tiver uma conta, acesse com seu endereço de e-mail e senha.</p>
                </span>
                <div class="inputDados">
                    <input class="textoDadosId" type="text" name="" id="" placeholder="E-mail ou CPF">
                    <input class="textoDadosSenha" type="password" name="" id="" placeholder="Senha">
                </div>
                <div class="buttonInteracao">
                    <button class="buttonAcesso" a href="#">
                        <p>Entrar</p>
                    </button>
                    <button class="buttonAcesso" a href="#">
                        <p>Esqueci minha senha</p>
                    </button>
                </div>
                <span>
                    <p>Faça Login com sua rede social</p>
                </span>
                <div class="conteiner-social">
                    <img href="#" class="buttonLogin" src="/img/facebook.png" alt="">
                    <img href="#" class="buttonLogin" src="/img/google.png" alt="">
                </div>

            </section>
            <section class="criarConta">
                <strong class="temConta">Ainda não é cliente?</strong>
                <p class="info-criar-conta">Criar uma nova conta tem muitos benefícios: fechar pedidos mais rapidamente, registrar mais
                    endereços, acompanhar pedidos e muito mais.</p>
                <button class="buttonAcesso">Criar conta</button>
            </section>
        </div>
    </main>
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li> <a href="">Saiba mais</a></li>
                        <li> <a href="">Nossos servicos</a></li>
                        <li> <a href="">politica de privacidade</a></li>
                        <li>
                        <li> <a href="">reclame</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li> <a href="">FAQ</a></li>
                        <li> <a href="">transporte</a></li>
                        <li> <a href="">devoluções</a></li>
                        <li>
                        <li> <a href="">Status do pedido</a></li>
                        <li> <a href="">Opções de pagamento</a></li>
                    </ul>

                </div>
                <div class="footer-col">
                    <h4>Loja online</h4>
                    <ul>
                        <li> <a href="">Feminino</a></li>
                        <li> <a href="">Masculino</a></li>
                        <li>
                        <li> <a href="">Infantil</a></li>
                        <li> <a href="">Endereço</a></li>
                    </ul>

                </div>
            </div>
            <div class="footer-col">
                <h4>Registrar</h4>
                <div class="form-sub">
                    <forn>
                        <input type="email" placeholder="Digite o seu e-mail " required>
                        <button>Registrar</button>
                    </forn>
                </div>          
    </footer>

</body>

</html>