<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/geral.css">
    <link rel="stylesheet" href="/css/produto.css">
    <title>Produto</title>
</head>
<body>
    <header>
        <nav>
            <a href="/">
                <img id="logo" src="/img/logo.jpg" alt="logo"/>
            </a>
            <a href="">Feminino</a>
            <a href="">Masculino</a>
            <a href="">Infantil</a>
            <a href="/login">Entrar</a>
            <input type="text" class="search-text" placeholder="Buscar">
        </nav>
    </header>
    <main class="product-page">
        <section class="images">
            <div class="images-1">
                <img id="img1" src="/img/tenis-img1.jpg" alt="tênis-allstar-converse">
                <img id="img2" src="/img/tenis-img2.jpg" alt="tênis-allstar-converse">
            </div>
            <div class="images-2">
                <img id="img3" src="/img/tenis-img3.jpg" alt="tênis-allstar-converse">
                <img id="img4" src="/img/tenis-img4.jpg" alt="tênis-allstar-converse">
            </div>
        </section>
        <section class="info-product">
                <h3 class="title-product">TÊNIS CONVERSE CHUCK TAYLOR HIGH PRO ROLL UP</h3>
                <p class="price-product">R$ 300,00</p>
                <p class="description-product">A evolução do já incrível Chuck SKT, possui diferenciais tanto no formato quanto nos detalhes que mistura toda a história de um clássico de 1917 com tecnologia para tornar esse modelo perfeito pra botar na lixa sem dó.</p>
                <button class="btn-add-cart">
                    <a href="/carrinho">Adicionar ao carrinho</p>
                </button>
        </section>
    </main>
    <footer>
        <div class="container-footer">
            <div class="row-footer">
                <div class="footer-col">
                    <h4>Empresa</h4>
                    <ul>
                        <li> <a href="">Saiba mais</a></li>
                        <li> <a href="">Nossos servicos</a></li>
                        <li> <a href="">politica de privacidade</a></li>
                        <li>
                        <li> <a href="">reclame</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Obter ajuda</h4>
                    <ul>
                        <li> <a href="">FAQ</a></li>
                        <li> <a href="">transporte</a></li>
                        <li> <a href="">devoluções</a></li>
                        <li>
                        <li> <a href="">Status do pedido</a></li>
                        <li> <a href="">Opções de pagamento</a></li>
                    </ul>

                </div>
            </div>
            <div class="footer-col">
                <h4>Registrar</h4>
                <div class="form-sub">
                    <forn>
                        <input type="email" placeholder="Digite o seu e-mail " required>
                        <button>Registrar</button>
                    </forn>
            </div>          
    </footer>
</body>
</html>