<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/produto.css">
    <title>Produto</title>
</head>
<body>
    <header>
        <div>
            <a href="/">SixShoes 6S</a>
            <a href="/produto">Categorias</a>
            <a href="#">Sobre</a>
            <a class="link-header" href="/carrinho">Carrinho</a>
            <a href="#">Login</a>
        </div>
    </header>
    <main class="product-page">
        <section class="images">
            <div class="images-1">
                <img id="img1" src="/img/tenis-img1.jpg" alt="tênis-allstar-converse">
                <img id="img2" src="/img/tenis-img2.jpg" alt="tênis-allstar-converse">
            </div>
            <div class="images-2">
                <img id="img3" src="/img/tenis-img3.jpg" alt="tênis-allstar-converse">
                <img id="img4" src="/img/tenis-img4.jpg" alt="tênis-allstar-converse">
            </div>
        </section>
        <section class="info-product">
                <h3 class="title-product">TÊNIS CONVERSE CHUCK TAYLOR HIGH PRO ROLL UP</h3>
                <p class="price-product">R$ 300,00</p>
                <p class="description-product">A evolução do já incrível Chuck SKT, possui diferenciais tanto no formato quanto nos detalhes que mistura toda a história de um clássico de 1917 com tecnologia para tornar esse modelo perfeito pra botar na lixa sem dó.</p>
                <button class="btn-add-cart">
                    <p>Adicionar ao carrinho</p>
                </button>
        </section>
    </main>
</body>
</html>