@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Poppins:wght@300;400;500&display=swap');
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #ffffff;
    border-bottom: 10px solid black;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    height: 100px;
    
}
header nav{
    display: flex;
    height: 100%;
    
}
header input{
    font-size: 1.0rem;
    border-style: none;
    outline: none;
    padding: 10px;
    width: 600px;
    border: 2px solid #000;
    background-color:  #202020;
}
a {
    display: inline-flex;
    align-items: center;
    color: #202020;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin-right: 100px;
}
.search-box{
    position: absolute;
    background-color: #ff0000;
    
}


footer{
    /* display: flex; */
    background-color:#F4F4F4;
    padding: 30px;
    /* flex-direction: column-reverse; */
}
.container-footer{
    /* max-width: 1400px;
    padding: 0 4%;
    margin: auto; */
    display: flex;
    flex-direction: row;
}
.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 32%;
    padding: 15px;   
}

.footer-col h4{
    font-size: 22px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    font-size: 500;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul{
    list-style: none;
}
/* espassamento do texto footer */
.footer-col ul li{
    margin: 15px 0;
}
/* footer texto  */
.footer-col ul li a{
    font-size: 16px;
    text-transform: lowercase;
    color: rgb(0, 0, 0);
    font-size: 500;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.4s ease;
}
.footer-col ul li a:hover{
    color:rgb(0, 0, 0);
    padding-left: 10px;
}

/* botao */
.footer-col .form-sub input{
    width: 100%;
    padding: 15px;
    font-size: 15px;
    outline: none;
    border: 2px solid #000;
    background-color:  #202020;
}
.footer-col .form-sub input::placeholder{
    color:#ffffff
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    font-size: 17px;
    outline: none;
    cursor: pointer;
    color: #000000;
    border-radius: 3px;
    font-weight: bold;
    background-color: white;
}
@media(max-width:800px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
@media (max-width: 600px){
    .footer-col{
        width: 100%;
    }
} 
}