*{
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
}

main {
    display: flex;
    flex-direction: row;
    border: 10px black solid;
    align-items: center;

}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


main .acessoPagina {
    padding: 65px 0;
    margin-bottom: 40px;
    margin-top: 0;
    align-items: center;
    background-color: #ccc;
}

.conteiner-main{
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
}

.conteiner-Login {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 80px;
    /*border: 5px black solid;*/
    box-sizing: border-box;
}

.criarConta {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px 80px;
    /*border: 5px black solid;*/
    box-sizing: border-box;
}

main .tituloPagina {
    font-family: "proxima-nova", 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    width: 100vw;
    height: 40px;
    margin-bottom: 30px;
}

main .inputLoginSenha {
    text-align: center;
}

main .buttonLogin {
    height: 30px;
    width: 30px;
}

.buttonAcesso {
    color: #f4f4f4;
    background: black;
    border: 1px solid #f4f4f4;
    display: inline-block;
    padding: 7px 15px;
    box-sizing: border-box;
    vertical-align: middle;
}

.inputDados {
    box-sizing: border-box;
    margin: 0 0 29px;
}

.textoDados {
    background-color: #f4f4f4;
    margin: 0 0 29px;
}

.temConta {
    font-weight: 700;
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 15px;
    padding-bottom: 12px;
}